@media (min-width: 1024px) {
  .available-internships .flex-shrink-0 {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .available-internships .is-center {
    transform: scale(1.05);
    opacity: 1;
    z-index: 10;
  }
}
